/* Recette css tout basque */
* {
    padding: 0;
    margin: 0;
}


body {
    overflow : hidden; 
    background-color: black;
    }

.input {
    position: fixed;
    top: 30px;
    right: 10px;
    z-index: 100000;
    color: #fff;
}

canvas {

}

